.tournament {
  height: 100vh;
  position: relative;
}

.title {
  font-family: var(--font-montserrat);
  font-size: 5rem;
  letter-spacing: -9px;
  line-height: 0.7;
  font-weight: 600;
}

.home {
  font-family: var(--font-montserrat);
  position: fixed;
  top: 0;
  right: 0;
  line-height: 0.7;
  font-size: 1.5rem;
  letter-spacing: -3px;
}

.battle {
  display: grid;
  grid-template-areas: 
  "icon round"
  "topimg topinfo"
  "botinfo botimg"; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 220px 220px;
}

.icon {
  border: 0.5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: icon;
}

.icon-img-box {
  width: 35px;
}

.icon-text,
.exp {
  font-family: var(--font-vt323);
  font-size: 1.2rem;
  line-height: 1;
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: round;
  border: 0.5px solid black;
}

.round-number {
  font-family: var(--font-montserrat);
  line-height: 0.7;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -5px;
  display: flex;
  justify-content: end;
}

.top-img {
  grid-area: topimg;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 0.5px solid black;
}

.bot-img {
  grid-area: botimg;
  border: 0.5px solid black;
  display: flex;
  justify-content: start;
  align-items: center;
}

.img-box {
  cursor: pointer;
  aspect-ratio: 1 / 1;
  height: 100%;
}

.img-box.top {
  border-left: 0.5px solid black;
}

.img-box.bot {
  border-right: 0.5px solid black;
}

.top-info {
  border: 0.5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding: 10px;
  grid-area: topinfo;
}

.bot-info {
  border: 0.5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  padding: 10px;
  grid-area: botinfo;
}

.play {
  width: 25px;
  cursor: pointer;
  margin-bottom: 5px;
}

.main {
  font-family: var(--font-montserrat);
  font-size: 1.5rem;
  letter-spacing: -2px;
  line-height: 1;
}

.sub {
  font-family: var(--font-vt323);
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 0.7;
}

.main.bot,
.sub.bot {
  text-align: end;
}

@media all and (min-width: 750px) {
  .title {
    font-size: 6rem;
    letter-spacing: -10px;
  }

  .home {
    font-size: 2.5rem;
    letter-spacing: -5px;
  }  
  
  .battle {
    grid-template-areas: 
    "topimg topinfo round"
    "icon botinfo botimg";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
  }  

  .icon-img-box {
    width: 45px;
  }

  .icon-text,
  .exp {
    font-size: 1.4rem;
    letter-spacing: -0.5px;
  }

  .round-number {
    font-size: 5rem;
    letter-spacing: -8px;
  }
}

@media all and (min-width: 900px) {
  .battle {
    grid-template-rows: 320px 320px;
  }  

  .icon-img-box {
    width: 55px;
  }

  .icon-text,
  .exp {
    font-size: 1.7rem;
    letter-spacing: -0.7px;
  }

  .round-number {
    font-size: 7rem;
    letter-spacing: -10px;
  }  

  .play {
    width: 35px;
  }

  .main {
    font-size: 1.7rem;
    letter-spacing: -2.2px;
  }
  
  .sub {
    font-size: 2.2rem;
    letter-spacing: -1.2px;
  } 
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 425px;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

.nav {
  height: 25px;
  border-bottom: 1px solid black;
  background-color: #8e8f91;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.modal-other,
.modal-home {
  font-family: var(--font-vt323);
  line-height: 1;
  font-size: 1.2rem;
}

.final {
  background-color: #efefef;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1fr var(--final-width);
}

.final-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
}

.final-title {
  font-family: var(--font-vt323);
  line-height: 1;
  font-size: 1.2rem;
}

.final-main {
  font-family: var(--font-montserrat);
  font-size: 1.5rem;
  letter-spacing: -3px;
  line-height: 1;
}

.final-sub {
  font-family: var(--font-vt323);
  font-size: 1.7rem;
  letter-spacing: -1px;
  line-height: 1;
}

.final-img-box {
  width: var(--final-width);
  border-left: 1px solid black;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  background-color: #8e8f91;
}

.option {
  cursor: pointer;
  margin: 0 40px;
  font-size: 1.3rem;
  font-family: var(--font-vt323);
  line-height: 1;
}

.option:hover {
  color: #efefef;
}

@media all and (min-width: 900px) { 
  .modal {
    width: 550px;
  }    
}

@media all and (min-width: 1200px) { 
  :root {
    --final-width: 330px;
  }
  
  .modal {
    width: 650px;
  }    
}




