body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --height: 70px;
  --distance: 1700%;
  --font-Merriweather: "Merriweather", serif;
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-korean: "Noto Sans KR", sans-serif;
  --font-vt323: "VT323", monospace;
  --font-myeongjo: "Nanum Myeongjo", serif;
  --font-brush: "Nanum Brush Script", cursive;
  --font-hahmlet: "Hahmlet", serif;
  --font-dokdo: "East Sea Dokdo", sans-serif;
  --font-diphylleia :"Diphylleia", serif;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

.img {
  display: block;
  width: 100%;
}